.image-grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(1, 1fr);
}

.image-grid article {
  margin-bottom: 1.5em;
  opacity: 0;
  transform: translateY(45px);
  transition:
    transform 0.6s,
    opacity 0.9s;
}

@media only screen and (min-width: 540px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1300px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.image-grid a {
  display: inline-block;
  text-decoration: none;
}

.image-grid h3 {
  /* font-size: clamp(1.125rem, 1.0962rem + 0.1231vw, 1.25rem); */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.875em;
  margin: 0;
  transition: opacity 0.3s;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 0.5em 0 0.25em 0;
}

.image-grid h3:hover {
  opacity: 0.5;
  /* text-decoration: underline; */
}

.image-grid p {
  font-size: clamp(0.9375rem, 0.9087rem + 0.1231vw, 1.0625rem);
  font-size: 0.813em;
  color: #777;
  padding-right: 2vw;
  margin: 0;
  max-width: 500px;
}

.image-grid img {
  display: block;
}

.image-grid a:has(h3) {
  border-radius: 3px;
  outline-offset: 4px 0.25em;
}

.image-grid a:has(img) {
  transition: opacity 0.3s;
  display: block;
  margin-bottom: 0.5em;
  line-height: 0;
}

.image-grid a:has(img):hover {
  opacity: 0.5;
}

.image-grid .in-view {
  opacity: 1;
  transform: translateY(0);
}
