---
import HeaderLink from "./HeaderLink.astro";
const today = new Date();
---

<footer class="site-footer">
  <div class="footer-menu">
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/diaries">diaries</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
  </div>

  <div class="social-links">
    <a href="https://www.instagram.com/ellatapfer.studios/">
      <span class="sr-only">Instagram</span>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m17.34,5.47c-.66,0-1.2.54-1.2,1.2s.53,1.2,1.2,1.2,1.2-.53,1.2-1.2-.54-1.2-1.2-1.2Z"
        ></path>
        <path
          d="m21.93,7.88c-.08-1.6-.44-3.02-1.62-4.19-1.17-1.17-2.59-1.53-4.19-1.62-1.65-.09-6.6-.09-8.25,0-1.6.08-3.02.44-4.19,1.61-1.17,1.17-1.53,2.59-1.62,4.19-.09,1.65-.09,6.6,0,8.25.08,1.6.44,3.02,1.62,4.19,1.17,1.17,2.59,1.53,4.19,1.62,1.65.09,6.6.09,8.25,0,1.6-.08,3.02-.44,4.19-1.62,1.17-1.17,1.53-2.59,1.62-4.19.09-1.65.09-6.59,0-8.25Zm-2.13,10.02c-.35.87-1.02,1.55-1.9,1.9-1.32.52-4.44.4-5.89.4s-4.58.12-5.89-.4c-.87-.35-1.55-1.02-1.9-1.9-.52-1.32-.4-4.44-.4-5.89s-.12-4.58.4-5.89c.35-.87,1.02-1.55,1.9-1.9,1.32-.52,4.44-.4,5.89-.4s4.58-.12,5.89.4c.87.35,1.55,1.02,1.9,1.9.52,1.32.4,4.44.4,5.89s.12,4.58-.4,5.89Z"
        ></path>
        <path
          d="m12,6.87c-2.84,0-5.13,2.29-5.13,5.13s2.29,5.13,5.13,5.13,5.13-2.29,5.13-5.13-2.29-5.13-5.13-5.13Zm0,8.46c-1.83,0-3.33-1.49-3.33-3.33s1.49-3.33,3.33-3.33,3.33,1.49,3.33,3.33-1.5,3.33-3.33,3.33Z"
        ></path>
      </svg>
    </a>

    <a href="https://www.behance.net/ellaandrew1/stock">
      <span class="sr-only">Behance</span>
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="m10,11.33c1.14-.54,1.73-1.37,1.73-2.64,0-2.52-1.88-3.14-4.05-3.14H1.71v12.67h6.14c2.3,0,4.46-1.1,4.46-3.68,0-1.59-.75-2.77-2.31-3.21h0Zm-5.51-3.62h2.61c1,0,1.91.28,1.91,1.45,0,1.08-.7,1.51-1.7,1.51h-2.82s0-2.96,0-2.96Zm2.98,8.35h-2.98v-3.49h3.03c1.23,0,2,.51,2,1.81s-.93,1.68-2.06,1.68h0Zm12.81-8.6h-5.14v-1.25h5.14v1.25h0Zm2.01,6.3c0-2.71-1.59-4.98-4.46-4.98s-4.69,2.1-4.69,4.85,1.8,4.81,4.69,4.81c2.19,0,3.61-.99,4.29-3.08h-2.22c-.24.78-1.23,1.2-1.99,1.2-1.48,0-2.25-.86-2.25-2.33h6.62c.01-.15.02-.31.02-.47Zm-6.63-1.12c.08-1.2.88-1.96,2.09-1.96s1.9.74,2.01,1.96h-4.1Z"
        ></path>
      </svg>
    </a>

    <a href="https://au.pinterest.com/ellatapferstudios/">
      <span class="sr-only">pinterest</span>
     <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512">
        <path d="M496 256c0 137-111 248-248 248-25.6 0-50.2-3.9-73.4-11.1 10.1-16.5 25.2-43.5 30.8-65 3-11.6 15.4-59 15.4-59 8.1 15.4 31.7 28.5 56.8 28.5 74.8 0 128.7-68.8 128.7-154.3 0-81.9-66.9-143.2-152.9-143.2-107 0-163.9 71.8-163.9 150.1 0 36.4 19.4 81.7 50.3 96.1 4.7 2.2 7.2 1.2 8.3-3.3 .8-3.4 5-20.3 6.9-28.1 .6-2.5 .3-4.7-1.7-7.1-10.1-12.5-18.3-35.3-18.3-56.6 0-54.7 41.4-107.6 112-107.6 60.9 0 103.6 41.5 103.6 100.9 0 67.1-33.9 113.6-78 113.6-24.3 0-42.6-20.1-36.7-44.8 7-29.5 20.5-61.3 20.5-82.6 0-19-10.2-34.9-31.4-34.9-24.9 0-44.9 25.7-44.9 60.2 0 22 7.4 36.8 7.4 36.8s-24.5 103.8-29 123.2c-5 21.4-3 51.6-.9 71.2C65.4 450.9 0 361.1 0 256 0 119 111 8 248 8s248 111 248 248z"/>
    </svg>
    </a>
  </div>

  <p class="copyright-notice">
    &copy; {today.getFullYear()}
    <a href="https://ellatapferstudios.com/">Ella Andrew</a>
  </p>
</footer>
